<!-- Container-fluid starts-->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card tab2-card">
                <!-- <div class="card-header">
                    <h5>Chỉnh sửa Shop</h5>
                </div> -->
                <div class="card-body tab2-card">
                    <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
                        <li [ngbNavItem]="1">
                            <a ngbNavLink>Tài khoản</a>
                            <ng-template ngbNavContent>
                                <div class="d-flex">
                                    <div class="" style="margin-right: 20px">
                                        <div class="add-product">
                                            <div class="">
                                                <div class="">
                                                    <img src="{{ user.imageUrl }}" alt=""
                                                        class="rounded-circle border border-dark"
                                                        style="width: 300px; height: 300px">
                                                </div>
                                                <div class="col-xl-3 xl-50 col-sm-6 col-3">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-7">

                                        <!-- Shop User Name -->
                                        <div class="add-product-form">
                                            <div class="form-group row">
                                                <div class="col-xl-3 col-sm-4">
                                                    <label class="mb-0">Họ và tên</label>
                                                </div>
                                                <div class="col-xl-8 col-sm-7">
                                                    <p class="mb-0" style="color: #F08080">{{ user.fullName }}
                                                    </p>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Shipper Dob -->
                                        <div class="add-product-form">
                                            <div class="form-group row">
                                                <div class="col-xl-3 col-sm-4">
                                                    <label class="mb-0">Ngày sinh</label>
                                                </div>
                                                <div class="col-xl-8 col-sm-7">
                                                    <p class="mb-0" style="color: #F08080">{{ user.dateOfBirth
                                                        }}</p>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Shipper iCode -->
                                        <div class="add-product-form">
                                            <div class="form-group row">
                                                <div class="col-xl-3 col-sm-4">
                                                    <label class="mb-0">CMND/CCCD</label>
                                                </div>
                                                <div class="col-xl-8 col-sm-7">
                                                    <p class="mb-0" style="color: #F08080">{{
                                                        user.identifiedCode }}</p>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Email -->
                                        <div class="add-product-form">
                                            <div class="form-group row">
                                                <div class="col-xl-3 col-sm-4">
                                                    <label class="mb-0">Email</label>
                                                </div>
                                                <div class="col-xl-8 col-sm-7">
                                                    <p class="mb-0" style="color: #F08080">{{ user.email }}
                                                    </p>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Shipper Phone Number -->
                                        <div class="add-product-form">
                                            <div class="form-group row">
                                                <div class="col-xl-3 col-sm-4">
                                                    <label class="mb-0">Số điện thoại</label>
                                                </div>
                                                <div class="col-xl-8 col-sm-7">
                                                    <p class="mb-0" style="color: #F08080">{{ user.phoneNumber
                                                        }}</p>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Shipper Address
                                        <div class="add-product-form">
                                            <div class="form-group row">
                                                <div class="col-xl-3 col-sm-4">
                                                    <label class="mb-0">Địa chỉ</label>
                                                </div>
                                                <div class="col-xl-8 col-sm-7">
                                                    <p class="mb-0" style="color: #F08080">{{
                                                        shop.user.addresses[0].address
                                                        }}</p>
                                                </div>
                                            </div>
                                        </div> -->

                                        <!-- <div class="add-product-form">
                                            <div class="form-group row">
                                                <div class="col-xl-3 col-sm-4">
                                                    <label class="mb-0">Quận</label>
                                                </div>
                                                <div class="col-xl-8 col-sm-7">
                                                    <p class="mb-0" style="color: #F08080">{{
                                                        shop.user.addresses[0].district
                                                        }}</p>
                                                </div>
                                            </div>
                                        </div>

                                        <div *ngIf="shop.user.addresses[0].district != 'Huyện Hoàng Sa'"
                                            class="add-product-form">
                                            <div class="form-group row">
                                                <div class="col-xl-3 col-sm-4">
                                                    <label class="mb-0">Phường</label>
                                                </div>
                                                <div class="col-xl-8 col-sm-7">
                                                    <p class="mb-0" style="color: #F08080">{{
                                                        shop.user.addresses[0].ward
                                                        }}</p>
                                                </div>
                                            </div>
                                        </div> -->

                                        <div class="add-product-form">
                                            <div class="form-group row">
                                                <div class="col-xl-3 col-sm-4">
                                                    <label class="mb-0">Trạng thái thái khoản</label>
                                                </div>
                                                <div class="col-xl-8 col-sm-7">
                                                    <p *ngIf="user.isLocked" class="mb-0" style="color: #F08080">
                                                        Bị cấm</p>
                                                    <p *ngIf="!user.isLocked" class="mb-0" style="color: green">
                                                        Hoạt
                                                        động</p>
                                                </div>
                                            </div>
                                        </div>



                                        <!-- <div class="form-group row mb-0">
                                            <div class="col-sm-8 offset-xl-3 offset-sm-4">
                                                <div class="product-buttons">
                                                </div>
                                            </div>
                                        </div> -->
                                    </div>
                                </div>
                            </ng-template>
                        </li>
                        <!-- --------- ADDRESS ----------- -->
                        <li [ngbNavItem]="2">
                            <a ngbNavLink>Địa chỉ</a>
                            <ng-template ngbNavContent>
                                <div *ngIf="user.addresses" class="table-responsive">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th scope="col">#</th>
                                                <th scope="col">Địa chỉ</th>
                                                <th scope="col">Quận</th>
                                                <th scope="col">Phường</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let address of user.addresses; let i = index">
                                                <th scope="row">{{ i + 1 }}</th>
                                                <td>{{ address.address }}</td>
                                                <td>{{ address.district }}</td>
                                                <td>{{ address.ward }}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </ng-template>
                        </li>

                        <!------- ORDERS ------->
                        <li [ngbNavItem]="3">
                            <a ngbNavLink>Đơn hàng</a>
                            <!-- <ng-template ngbNavContent>
                                <div class="row product-adding">


                                    <div *ngIf="products" class="table-responsive">
                                        <table class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th scope="col">#</th>
                                                    <th scope="col">Ảnh</th>
                                                    <th scope="col">Tên sản phẩm</th>
                                                    <th scope="col">Giá</th>
                                                    <th scope="col"></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let product of products; let i = index">
                                                    <th scope="row">{{ i + 1 }}</th>
                                                    <td>
                                                        <img [src]="[product.images[0].imageUrl]" class="imgTable"
                                                            style="width: 20px">
                                                    </td>
                                                    <td>{{ product.name }}</td>
                                                    <td>{{ product.cost - product.cost * product.discountPercent /
                                                        100 }}
                                                    </td>
                                                    <td>
                                                        <a [routerLink]="['/products','product-detail', product.id]"><i
                                                                class='fa fa-eye f-12'></i></a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <div class="d-flex justify-content-between p-2">
                                            <ngb-pagination [collectionSize]="theTotalElements" [(page)]="thePageNumber"
                                                [maxSize]="5" [pageSize]="thePageSize" [rotate]="true"
                                                [boundaryLinks]="true" (pageChange)="listProduct()">
                                            </ngb-pagination>
                                            <select class="form-select" style="width: auto" name="pageSize"
                                                (change)="listProduct()" [(ngModel)]="thePageSize">
                                                <option [value]="10" [selected]="true" [ngValue]="10">10 items per
                                                    page</option>
                                                <option [ngValue]="15">15 items per page</option>
                                                <option [ngValue]="20">20 items per page</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </ng-template> -->
                        </li>
                    </ul>
                    <div [ngbNavOutlet]="nav" class="mt-2"></div>
                    <!-- <div class="pull-right">
                        <button type="submit" class="btn btn-primary">Tạo tài khoản</button>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Container-fluid Ends-->