<!-- Container-fluid starts-->
<div class="container-fluid">
    <div class="row">
        <div class="col-xl-3 col-md-6 xl-50">
            <div class="card o-hidden widget-cards">
                <div class="bg-warning card-body">
                    <div class="media static-top-widget row">
                        <div class="icons-widgets col-4">
                            <div class="align-self-center text-center">
                                <app-feather-icons *ngIf="isShop" [icon]="'dollar-sign'"
                                    class="font-warning"></app-feather-icons>
                                <app-feather-icons *ngIf="!isShop" [icon]="'user'"
                                    class="font-warning"></app-feather-icons>
                            </div>
                        </div>
                        <div *ngIf="isShop" class="media-body col-8"><span class="m-0">Thu nhập 30 ngày qua</span>
                            <h3 class="mb-0">
                                <span class="counter" [CountTo]="totalRevenue" [from]="0" [duration]="2">{{ totalRevenue
                                    | currency : "VND"
                                    }}</span>
                            </h3>
                        </div>

                        <div *ngIf="!isShop" class="media-body col-8"><span class="m-0">Người dùng đăng ký mới</span>
                            <h3 class="mb-0">
                                <span class="counter" [CountTo]="totalUser" [from]="0" [duration]="2">{{ totalUser
                                    }}</span><small>
                                    người dùng</small>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 xl-50">
            <div class="card o-hidden  widget-cards">
                <div class="bg-secondary card-body">
                    <div class="media static-top-widget row">
                        <div class="icons-widgets col-4">
                            <div class="align-self-center text-center">
                                <app-feather-icons [icon]="'package'" class="font-secondary"></app-feather-icons>
                            </div>
                        </div>
                        <div class="media-body col-8"><span class="m-0">Tổng sản phẩm đã bán</span>
                            <h3 class="mb-0"><span class="counter" [CountTo]="totalProducts" [from]="0"
                                    [duration]="2">{{ totalProducts }}</span><small> sản phẩm</small></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 xl-50">
            <div class="card o-hidden widget-cards">
                <div class="bg-primary card-body">
                    <div class="media static-top-widget row">
                        <div class="icons-widgets col-4">
                            <div class="align-self-center text-center">
                                <app-feather-icons [icon]="'message-square'" class="font-primary"></app-feather-icons>
                            </div>
                        </div>
                        <div class="media-body col-8"><span class="m-0">Số lượt đánh giá sản phẩm</span>
                            <h3 class="mb-0"><span class="counter" [CountTo]="totalReviewCount" [from]="0"
                                    [duration]="2">{{ totalReviewCount }}</span><small> lượt</small></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 xl-50">
            <div class="card o-hidden widget-cards">
                <div class="bg-danger card-body">
                    <div class="media static-top-widget row">
                        <div class="icons-widgets col-4">
                            <div class="align-self-center text-center">
                                <app-feather-icons [icon]="'star'" class="font-danger"></app-feather-icons>
                            </div>
                        </div>
                        <div class="media-body col-8"><span class="m-0">Đánh giá trung bình</span>
                            <h3 class="mb-0"><span class="counter" [CountTo]="totalAverageRating" [from]="0"
                                    [duration]="2">{{ totalAverageRating }}</span><small> /5</small></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--        <div class="col-xl-6 xl-100">-->
        <!--            <div class="card height-equal">-->
        <!--                <div class="card-header">-->
        <!--                    <h5>Market Value</h5>-->
        <!--                </div>-->
        <!--                <div class="card-body">-->
        <!--                    <div class="market-chart">-->
        <!--                        <x-chartist class="board-chart ct-golden-section" [data]="chart3.data" [type]="chart3.type"-->
        <!--                            [options]="chart3.options" [events]="chart3.events">-->
        <!--                        </x-chartist>-->
        <!--                    </div>-->
        <!--                </div>-->
        <!--            </div>-->
        <!--        </div>-->
        <div class="col-xl-12 xl-100">
            <div class="card height-equal">
                <div class="card-header">
                    <h5 *ngIf="isShop">Đơn hàng của bạn</h5>
                    <h5 *ngIf="!isShop">Các đơn hàng gần đây</h5>
                </div>
                <div class="card-body" *ngIf="orders.length">
                    <div class=" user-status table-responsive latest-order-table">
                        <table class="table table-bordernone">
                            <thead>
                                <tr>
                                    <th scope="col">Mã đơn hàng</th>
                                    <th scope="col">Tổng giá trị đơn hàng</th>
                                    <th scope="col">Phương thức thanh toán</th>
                                    <th scope="col">Trạng thái đơn hàng</th>
                                    <th scope="col">Địa chỉ</th>
                                    <th scope="col">Shipper</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let order of orders; let i = index">
                                    <td>{{ order?.orderTrackingNumber }}</td>
                                    <td>{{ order?.total | currency : "VND" }}</td>
                                    <td><span [ngClass]="{
                                          badge: true,
                                          'badge-info': order.paymentMethod === 'ZALO PAY',
                                          'badge-success': order.paymentMethod === 'CASH'
                                        }">
                                            {{ order.paymentMethod === "CASH"
                                            ? "Tiền mặt"
                                            : order.paymentMethod === "ZALO PAY"
                                            ? "Zalo pay"
                                            : ""
                                            }}
                                        </span></td>
                                    <td><span [ngClass]="{
                                          badge: true,
                                          'badge-dark': order.status === 'AWAITING',
                                          'badge-warning': order.status === 'CONFIRMED',
                                          'badge-info': order.status === 'SHIPPING',
                                          'badge-success': order.status === 'COMPLETED',
                                          'badge-primary': order.status === 'CANCELED' || order.status === 'REJECT_DELIVERY'
                                        }">
                                            {{
                                            order.status === "AWAITING"
                                            ? "Chờ xác nhận"
                                            : order.status === "CONFIRMED"
                                            ? "Đã xác nhận"
                                            : order.status === "SHIPPING"
                                            ? "Đang giao hàng"
                                            : order.status === "COMPLETED"
                                            ? "Giao thành công"
                                            : order.status === "CANCELED"
                                            ? "Đã huỷ đơn"
                                            : order.status === "REJECT_DELIVERY"
                                            ? "Không nhận hàng"
                                            : ""
                                            }}
                                        </span></td>
                                    <td>{{ order?.address }}</td>
                                    <td *ngIf="order?.shipper?.user?.fullName != null">{{ order?.shipper?.user?.fullName
                                        }}</td>
                                    <td *ngIf="order?.shipper?.user?.fullName == null"><strong>Đang chờ...</strong></td>
                                    <td>
                                        <a [routerLink]="['/sales', 'detail-order', 'user', order.user.id, 'order', order.id]"
                                            style="cursor: pointer;">
                                            <i style="color: lightseagreen;" class="fa fa-eye f-12"></i>
                                        </a>&nbsp;
                                    </td>
                                </tr>
                                <!-- <tr>
                                    <td>2</td>
                                    <td class="digits">$90.00</td>
                                    <td class="font-secondary">Ewallets</td>
                                    <td class="digits">Delivered</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td class="digits">$240.00</td>
                                    <td class="font-warning">Cash</td>
                                    <td class="digits">Delivered</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td class="digits">$120.00</td>
                                    <td class="font-primary">Direct Deposit</td>
                                    <td class="digits">$6523</td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td class="digits">$50.00</td>
                                    <td class="font-primary">Bank Transfers</td>
                                    <td class="digits">Delivered</td>
                                </tr> -->
                            </tbody>
                        </table>
                        <a [routerLink]="['/sales', 'orders']" class="btn btn-primary">Xem tất cả đơn hàng</a>
                    </div>
                </div>
                <div class=" user-status table-responsive latest-order-table" *ngIf="!orders.length">
                    <div class="d-flex justify-content-center p-2">
                        <img src="../../../assets/images/error/no-order.png" alt="" srcset="">
                    </div>
                    <div class="d-flex justify-content-center p-2">
                        <h4>Bạn chưa có đơn hàng nào</h4>
                    </div>
                </div>
            </div>
        </div>

        <!-- <div class="col-xl-3 col-md-6 xl-50">
            <div class="card order-graph sales-carousel">
                <div class="card-header">
                    <h6>Total Sales</h6>
                    <div class="row">
                        <div class="col-6">
                            <div class="small-chartjs">
                                <canvas baseChart id="small-graph-1" height="600" width="400"
                                    [datasets]="smallLineChartData" [labels]="smallLineChartLabels"
                                    [options]="smallLineChartOptions" [legend]="smallLineChartLegend"
                                    [type]="smallLineChartType" (chartHover)="chartHovered($event)"
                                    (chartClick)="chartClicked($event)"></canvas>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="value-graph">
                                <h3>42% <span><i class="fa fa-angle-up font-primary"></i></span></h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="d-flex align-items-start">
                        <div class="media-body">
                            <span>Sales Last Month</span>
                            <h2 class="mb-0">9054</h2>
                            <p>0.25% <span><i class="fa fa-angle-up"></i></span></p>
                            <h5 class="f-w-600">Gross sales of August</h5>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting</p>
                        </div>
                        <div class="bg-primary b-r-8">
                            <div class="small-box">
                                <i data-feather="briefcase"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 xl-50">
            <div class="card order-graph sales-carousel">
                <div class="card-header">
                    <h6>Total purchase</h6>
                    <div class="row">
                        <div class="col-6">
                            <div class="small-chartjs">
                                <canvas baseChart id="small-graph-2" height="60vw" width="140vw"
                                    [datasets]="smallLine2ChartData" [labels]="smallLine2ChartLabels"
                                    [options]="smallLine2ChartOptions" [legend]="smallLine2ChartLegend"
                                    [type]="smallLine2ChartType" (chartHover)="chartHovered($event)"
                                    (chartClick)="chartClicked($event)"></canvas>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="value-graph">
                                <h3>20% <span><i class="fa fa-angle-up font-secondary"></i></span></h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="d-flex align-items-start">
                        <div class="media-body">
                            <span>Monthly purchase</span>
                            <h2 class="mb-0">2154</h2>
                            <p>0.13% <span><i class="fa fa-angle-up"></i></span></p>
                            <h5 class="f-w-600">Avg Gross purchase</h5>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting</p>
                        </div>
                        <div class="bg-secondary b-r-8">
                            <div class="small-box">
                                <i data-feather="credit-card"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 xl-50">
            <div class="card order-graph sales-carousel">
                <div class="card-header">
                    <h6>Total cash transaction</h6>
                    <div class="row">
                        <div class="col-6">
                            <div class="small-chartjs">
                                <canvas baseChart id="small-graph-3" height="60vw" width="140vw"
                                    [datasets]="smallLine3ChartData" [labels]="smallLine3ChartLabels"
                                    [options]="smallLine3ChartOptions" [legend]="smallLine3ChartLegend"
                                    [type]="smallLine3ChartType" (chartHover)="chartHovered($event)"
                                    (chartClick)="chartClicked($event)"></canvas>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="value-graph">
                                <h3>28% <span><i class="fa fa-angle-up font-warning"></i></span></h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="d-flex align-items-start">
                        <div class="media-body">
                            <span>Cash on hand</span>
                            <h2 class="mb-0">4672</h2>
                            <p>0.8% <span><i class="fa fa-angle-up"></i></span></p>
                            <h5 class="f-w-600">Details about cash</h5>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting</p>
                        </div>
                        <div class="bg-warning b-r-8">
                            <div class="small-box">
                                <i data-feather="shopping-cart"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 xl-50">
            <div class="card order-graph sales-carousel">
                <div class="card-header">
                    <h6>Daily Deposits</h6>
                    <div class="row">
                        <div class="col-6">
                            <div class="small-chartjs">
                                <canvas baseChart id="small-graph-4" height="60vw" width="140vw"
                                    [datasets]="smallLine4ChartData" [labels]="smallLine4ChartLabels"
                                    [options]="smallLine4ChartOptions" [legend]="smallLine4ChartLegend"
                                    [type]="smallLine4ChartType" (chartHover)="chartHovered($event)"
                                    (chartClick)="chartClicked($event)"></canvas>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="value-graph">
                                <h3>75% <span><i class="fa fa-angle-up font-danger"></i></span></h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="d-flex align-items-start">
                        <div class="media-body">
                            <span>Security Deposits</span>
                            <h2 class="mb-0">0782</h2>
                            <p>0.25% <span><i class="fa fa-angle-up"></i></span></p>
                            <h5 class="f-w-600">Gross sales of June</h5>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting</p>
                        </div>
                        <div class="bg-danger b-r-8">
                            <div class="small-box">
                                <i data-feather="calendar"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        <!-- <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h5>Buy / Sell</h5>
                </div>
                <div class="card-body sell-graph">
                    <canvas baseChart id="myGraph" [datasets]="lineChartData" [labels]="lineChartLabels"
                        [options]="lineChartOptions" [legend]="lineChartLegend" [type]="lineChartType"
                        (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
                </div>
            </div>
        </div> -->
        <!--        <div class="col-xl-12 xl-100">-->
        <!--            <div class="card height-equal">-->
        <!--                <div class="card-header">-->
        <!--                    <h5>Products Cart</h5>-->
        <!--                </div>-->
        <!--                <div class="card-body">-->
        <!--                    <div class="user-status table-responsive products-table">-->
        <!--                        <table class="table table-bordernone mb-0">-->
        <!--                            <thead>-->
        <!--                                <tr>-->
        <!--                                    <th scope="col">Details</th>-->
        <!--                                    <th scope="col">Quantity</th>-->
        <!--                                    <th scope="col">Status</th>-->
        <!--                                    <th scope="col">Price</th>-->
        <!--                                </tr>-->
        <!--                            </thead>-->
        <!--                            <tbody>-->
        <!--                                <tr>-->
        <!--                                    <td>Simply dummy text of the printing</td>-->
        <!--                                    <td class="digits">1</td>-->
        <!--                                    <td class="font-primary">Pending</td>-->
        <!--                                    <td class="digits">$6523</td>-->
        <!--                                </tr>-->
        <!--                                <tr>-->
        <!--                                    <td>Long established</td>-->
        <!--                                    <td class="digits">5</td>-->
        <!--                                    <td class="font-secondary">Cancle</td>-->
        <!--                                    <td class="digits">$6523</td>-->
        <!--                                </tr>-->
        <!--                                <tr>-->
        <!--                                    <td>sometimes by accident</td>-->
        <!--                                    <td class="digits">10</td>-->
        <!--                                    <td class="font-secondary">Cancle</td>-->
        <!--                                    <td class="digits">$6523</td>-->
        <!--                                </tr>-->
        <!--                                <tr>-->
        <!--                                    <td>Classical Latin literature</td>-->
        <!--                                    <td class="digits">9</td>-->
        <!--                                    <td class="font-primary">Return</td>-->
        <!--                                    <td class="digits">$6523</td>-->
        <!--                                </tr>-->
        <!--                                <tr>-->
        <!--                                    <td>keep the site on the Internet</td>-->
        <!--                                    <td class="digits">8</td>-->
        <!--                                    <td class="font-primary">Pending</td>-->
        <!--                                    <td class="digits">$6523</td>-->
        <!--                                </tr>-->
        <!--                                <tr>-->
        <!--                                    <td>Molestiae consequatur</td>-->
        <!--                                    <td class="digits">3</td>-->
        <!--                                    <td class="font-secondary">Cancle</td>-->
        <!--                                    <td class="digits">$6523</td>-->
        <!--                                </tr>-->
        <!--                                <tr>-->
        <!--                                    <td>Pain can procure</td>-->
        <!--                                    <td class="digits">8</td>-->
        <!--                                    <td class="font-primary">Return</td>-->
        <!--                                    <td class="digits">$6523</td>-->
        <!--                                </tr>-->
        <!--                            </tbody>-->
        <!--                        </table>-->
        <!--                    </div>-->
        <!--                </div>-->
        <!--            </div>-->
        <!--        </div>-->
        <!--        <div class="col-xl-6 xl-100">-->
        <!--            <div class="card height-equal">-->
        <!--                <div class="card-header">-->
        <!--                    <h5>Empolyee Status</h5>-->
        <!--                </div>-->
        <!--                <div class="card-body">-->
        <!--                    <div class="user-status table-responsive products-table">-->
        <!--                        <table class="table table-bordernone mb-0">-->
        <!--                            <thead>-->
        <!--                                <tr>-->
        <!--                                    <th scope="col">Name</th>-->
        <!--                                    <th scope="col">Designation</th>-->
        <!--                                    <th scope="col">Skill Level</th>-->
        <!--                                    <th scope="col">Experience</th>-->
        <!--                                </tr>-->
        <!--                            </thead>-->
        <!--                            <tbody>-->
        <!--                                <tr>-->
        <!--                                    <td class="bd-t-none u-s-tb">-->
        <!--                                        <div class="align-middle image-sm-size"><img-->
        <!--                                                class="img-radius align-top m-r-15 rounded-circle"-->
        <!--                                                src="assets/images/dashboard/user2.jpg" alt="" data-original-title=""-->
        <!--                                                title="">-->
        <!--                                            <div class="d-inline-block">-->
        <!--                                                <h6>John Deo <span class="text-muted digits">(14+ Online)</span></h6>-->
        <!--                                            </div>-->
        <!--                                        </div>-->
        <!--                                    </td>-->
        <!--                                    <td>Designer</td>-->
        <!--                                    <td>-->
        <!--                                        <div class="progress-showcase">-->
        <!--                                            <div class="progress" style="height: 8px;">-->
        <!--                                                <div class="progress-bar bg-primary" role="progressbar"-->
        <!--                                                    style="width: 30%" aria-valuenow="50" aria-valuemin="0"-->
        <!--                                                    aria-valuemax="100"></div>-->
        <!--                                            </div>-->
        <!--                                        </div>-->
        <!--                                    </td>-->
        <!--                                    <td class="digits">2 Year</td>-->
        <!--                                </tr>-->
        <!--                                <tr>-->
        <!--                                    <td class="bd-t-none u-s-tb">-->
        <!--                                        <div class="align-middle image-sm-size"><img-->
        <!--                                                class="img-radius align-top m-r-15 rounded-circle"-->
        <!--                                                src="assets/images/dashboard/user1.jpg" alt="" data-original-title=""-->
        <!--                                                title="">-->
        <!--                                            <div class="d-inline-block">-->
        <!--                                                <h6>Holio Mako <span class="text-muted digits">(250+ Online)</span></h6>-->
        <!--                                            </div>-->
        <!--                                        </div>-->
        <!--                                    </td>-->
        <!--                                    <td>Developer</td>-->
        <!--                                    <td>-->
        <!--                                        <div class="progress-showcase">-->
        <!--                                            <div class="progress" style="height: 8px;">-->
        <!--                                                <div class="progress-bar bg-secondary" role="progressbar"-->
        <!--                                                    style="width: 70%" aria-valuenow="50" aria-valuemin="0"-->
        <!--                                                    aria-valuemax="100"></div>-->
        <!--                                            </div>-->
        <!--                                        </div>-->
        <!--                                    </td>-->
        <!--                                    <td class="digits">3 Year</td>-->
        <!--                                </tr>-->
        <!--                                <tr>-->
        <!--                                    <td class="bd-t-none u-s-tb">-->
        <!--                                        <div class="align-middle image-sm-size"><img-->
        <!--                                                class="img-radius align-top m-r-15 rounded-circle"-->
        <!--                                                src="assets/images/dashboard/man.png" alt="" data-original-title=""-->
        <!--                                                title="">-->
        <!--                                            <div class="d-inline-block">-->
        <!--                                                <h6>Mohsib lara<span class="text-muted digits">(99+ Online)</span></h6>-->
        <!--                                            </div>-->
        <!--                                        </div>-->
        <!--                                    </td>-->
        <!--                                    <td>Tester</td>-->
        <!--                                    <td>-->
        <!--                                        <div class="progress-showcase">-->
        <!--                                            <div class="progress" style="height: 8px;">-->
        <!--                                                <div class="progress-bar bg-primary" role="progressbar"-->
        <!--                                                    style="width: 60%" aria-valuenow="50" aria-valuemin="0"-->
        <!--                                                    aria-valuemax="100"></div>-->
        <!--                                            </div>-->
        <!--                                        </div>-->
        <!--                                    </td>-->
        <!--                                    <td class="digits">5 Month</td>-->
        <!--                                </tr>-->
        <!--                                <tr>-->
        <!--                                    <td class="bd-t-none u-s-tb">-->
        <!--                                        <div class="align-middle image-sm-size"><img-->
        <!--                                                class="img-radius align-top m-r-15 rounded-circle"-->
        <!--                                                src="assets/images/dashboard/user.png" alt="" data-original-title=""-->
        <!--                                                title="">-->
        <!--                                            <div class="d-inline-block">-->
        <!--                                                <h6>Hileri Soli <span class="text-muted digits">(150+ Online)</span>-->
        <!--                                                </h6>-->
        <!--                                            </div>-->
        <!--                                        </div>-->
        <!--                                    </td>-->
        <!--                                    <td>Designer</td>-->
        <!--                                    <td>-->
        <!--                                        <div class="progress-showcase">-->
        <!--                                            <div class="progress" style="height: 8px;">-->
        <!--                                                <div class="progress-bar bg-secondary" role="progressbar"-->
        <!--                                                    style="width: 30%" aria-valuenow="50" aria-valuemin="0"-->
        <!--                                                    aria-valuemax="100"></div>-->
        <!--                                            </div>-->
        <!--                                        </div>-->
        <!--                                    </td>-->
        <!--                                    <td class="digits">3 Month</td>-->
        <!--                                </tr>-->
        <!--                                <tr>-->
        <!--                                    <td class="bd-t-none u-s-tb">-->
        <!--                                        <div class="align-middle image-sm-size"><img-->
        <!--                                                class="img-radius align-top m-r-15 rounded-circle"-->
        <!--                                                src="assets/images/dashboard/designer.jpg" alt=""-->
        <!--                                                data-original-title="" title="">-->
        <!--                                            <div class="d-inline-block">-->
        <!--                                                <h6>Pusiz bia <span class="text-muted digits">(14+ Online)</span></h6>-->
        <!--                                            </div>-->
        <!--                                        </div>-->
        <!--                                    </td>-->
        <!--                                    <td>Designer</td>-->
        <!--                                    <td>-->
        <!--                                        <div class="progress-showcase">-->
        <!--                                            <div class="progress" style="height: 8px;">-->
        <!--                                                <div class="progress-bar bg-primary" role="progressbar"-->
        <!--                                                    style="width: 90%" aria-valuenow="50" aria-valuemin="0"-->
        <!--                                                    aria-valuemax="100"></div>-->
        <!--                                            </div>-->
        <!--                                        </div>-->
        <!--                                    </td>-->
        <!--                                    <td class="digits">5 Year</td>-->
        <!--                                </tr>-->
        <!--                            </tbody>-->
        <!--                        </table>-->
        <!--                    </div>-->
        <!--                </div>-->
        <!--            </div>-->
        <!--        </div>-->
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h5>Tổng quan đơn hàng</h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-xl-6 col-sm-6 xl-50">
                            <div class="order-graph overflow-hidden">
                                <h6>Vị trí đặt đơn</h6>
                                <div class="chart-block chart-vertical-center">
                                    <ngx-charts-pie-chart class="pie-colours-1" [view]="view"
                                        [scheme]="doughnutChartColorScheme" [results]="pieData" [explodeSlices]="false"
                                        [labels]="doughnutChartShowLabels" [arcWidth]=0.50 [doughnut]="true"
                                        [animations]="false" [tooltipDisabled]="doughnutChartTooltip"
                                        [gradient]="doughnutChartGradient">
                                    </ngx-charts-pie-chart>
                                </div>
                                <div class="order-graph-bottom">
                                    <div class="media" *ngIf="thanhKheValue > 0">
                                        <div class="order-color-primary"></div>
                                        <div class="media-body">
                                            <h6 class="mb-0">Quận Thanh Khê <span class="pull-right">{{ thanhKheValue
                                                    }} đơn hàng</span></h6>
                                        </div>
                                    </div>
                                    <div class="media" *ngIf="sonTraValue > 0">
                                        <div class="order-color-secondary"></div>
                                        <div class="media-body">
                                            <h6 class="mb-0">Quận Sơn Trà <span class="pull-right">{{ sonTraValue
                                                    }} đơn hàng</span></h6>
                                        </div>
                                    </div>
                                    <div class="media" *ngIf="camLeValue > 0">
                                        <div class="order-color-danger"></div>
                                        <div class="media-body">
                                            <h6 class="mb-0">Quận Cẩm Lệ<span class="pull-right">{{ camLeValue }} đơn
                                                    hàng</span></h6>
                                        </div>
                                    </div>
                                    <div class="media" *ngIf="lienChieuValue > 0">
                                        <div class="order-color-warning"></div>
                                        <div class="media-body">
                                            <h6 class="mb-0">Quận Liên Chiểu<span class="pull-right">{{ lienChieuValue
                                                    }} đơn hàng</span></h6>
                                        </div>
                                    </div>
                                    <div class="media" *ngIf="haiChauValue > 0">
                                        <div class="order-color-success" style="background-color: #32CD32;"></div>
                                        <div class="media-body">
                                            <h6 class="mb-0">Quận Hải Châu<span class="pull-right">{{ haiChauValue }}
                                                    đơn hàng</span></h6>
                                        </div>
                                    </div>
                                    <div class="media" *ngIf="hoaVangValue > 0">
                                        <div class="order-color-success" style="background-color: mediumpurple;"></div>
                                        <div class="media-body">
                                            <h6 class="mb-0">Huyện Hoà Vang<span class="pull-right">{{ hoaVangValue }}
                                                    đơn hàng</span></h6>
                                        </div>
                                    </div>
                                    <div class="media" *ngIf="nguHanhSonValue > 0">
                                        <div class="order-color-success" style="background-color: deepskyblue;"></div>
                                        <div class="media-body">
                                            <h6 class="mb-0">Quận Ngũ Hành Sơn<span class="pull-right">{{
                                                    nguHanhSonValue }} đơn hàng</span></h6>
                                        </div>
                                    </div>
                                    <div class="media" *ngIf="hoangSaValue > 0">
                                        <div class="order-color-success" style="background-color: olive;"></div>
                                        <div class="media-body">
                                            <h6 class="mb-0">Huyện Hoàng Sa<span class="pull-right">{{ hoangSaValue }}
                                                    đơn hàng</span></h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-sm-6 xl-50">
                            <div class="order-graph sm-order-space overflow-hidden">
                                <h6>Top sản phẩm bán chạy</h6>
                                <div class="peity-chart-dashboard text-center chart-vertical-center">
                                    <ngx-charts-pie-chart *ngIf="!isShop || (isShop && isData)" class="pie-colours-1"
                                        [view]="view" [scheme]="doughnutChartColorScheme" [results]="doughnutData"
                                        [explodeSlices]="false" [labels]="doughnutChartShowLabels" [arcWidth]=0.99
                                        [doughnut]="true" [animations]="false" [tooltipDisabled]="doughnutChartTooltip"
                                        [gradient]="doughnutChartGradient">
                                    </ngx-charts-pie-chart>
                                </div>
                                <div class="order-graph-bottom sales-location">
                                    <div class="media" *ngIf="products.length > 0">
                                        <div class="order-shape-primary"></div>
                                        <div class="media-body">
                                            <h6 class="mb-0 me-0">{{ products[0]?.name }} <span class="pull-right">{{
                                                    products[0]?.sold }} lượt</span></h6>
                                        </div>
                                    </div>
                                    <div class="media" *ngIf="products.length > 1">
                                        <div class="order-shape-secondary"></div>
                                        <div class="media-body">
                                            <h6 class="mb-0 me-0">{{ products[1]?.name }} <span class="pull-right">{{
                                                    products[1]?.sold }} lượt</span></h6>
                                        </div>
                                    </div>
                                    <div class="media" *ngIf="products.length > 2">
                                        <div class="order-shape-danger"></div>
                                        <div class="media-body">
                                            <h6 class="mb-0 me-0">{{ products[2]?.name }} <span class="pull-right">{{
                                                    products[2]?.sold }} lượt</span></h6>
                                        </div>
                                    </div>
                                    <div class="media" *ngIf="products.length > 3">
                                        <div class="order-shape-warning"></div>
                                        <div class="media-body">
                                            <h6 class="mb-0 me-0">{{ products[3]?.name }} <span class="pull-right">{{
                                                    products[3]?.sold }} lượt</span></h6>
                                        </div>
                                    </div>
                                    <div class="media" *ngIf="products.length > 4">
                                        <div class="order-shape-success"></div>
                                        <div class="media-body">
                                            <h6 class="mb-0 me-0">{{ products[4]?.name }} <span class="pull-right">{{
                                                    products[4]?.sold }} lượt</span></h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--                        <div class="col-xl-6 xl-100">-->
                        <!--                            <div class="order-graph xl-space">-->
                        <!--                                <h6>Revenue for last month</h6>-->
                        <!--                                <div class="ct-4 flot-chart-container">-->
                        <!--                                    <x-chartist [type]="chart5.type" [data]="ch art5.data" [options]="chart5.options">-->
                        <!--                                    </x-chartist>-->
                        <!--                                </div>-->
                        <!--                            </div>-->
                        <!--                        </div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Container-fluid Ends-->