<!-- Container-fluid starts-->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h5>Thêm sản phẩm</h5>
                </div>
                <div class="card-body">
                    <div class="row product-adding">
                        <div class="col-xl-5">
                            <div class="add-product">
                                <div class="row">
                                    <div class="col-xl-9 xl-50 col-sm-6 col-9">
                                        <img src="{{adminImg}}" alt="" class="img-fluid image_zoom_1">
                                    </div>
                                    <div class="col-xl-3 xl-50 col-sm-6 col-3">
                                        <!-- <ul class="file-upload-product">
                                            <li *ngFor="let item of url; let i=index">
                                                <div class="box-input-file">
                                                    <input class="upload" type="file" (change)="readUrl($event,i)">
                                                    <img class="imgUpload" alt="" [src]="item.img">
                                                </div>
                                            </li>
                                        </ul> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-7">

                            <!-- Form Start -->
                            <form class="needs-validation" [formGroup]="productForm" novalidate>

                                <!-- Product Name -->
                                <div class="add-product-form">
                                    <div class="form-group row">
                                        <div class="col-xl-3 col-sm-4">
                                            <label for="validationCustom01" class="mb-0">Tên sản phẩm</label>
                                        </div>
                                        <div class="col-xl-8 col-sm-7">
                                            <input class="form-control" id="validationCustom01" type="text"
                                                [formControl]="productForm.controls['name']" required>
                                            <!-- <div class="alert alert-danger mt-1" *ngIf="productForm.controls.name.touched && productForm.controls.name.errors?.required"
                                                class="text text-danger">
                                                Tên sản phẩm không được bỏ trống.
                                            </div> -->
                                            <div *ngIf="productName?.invalid && (productName?.dirty || productName?.touched)"
                                                class="alert alert-danger mt-1">
                                                <div *ngIf="productName?.errors?.['required']">Tên sản phẩm không được
                                                    bỏ trống.</div>
                                                <div *ngIf="productName?.errors?.['minlength']">Tên sản phẩm phải có ít
                                                    nhất 2 kí tự.</div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Product Price -->
                                    <div class="form-group row">
                                        <div class="col-xl-3 col-sm-4">
                                            <label for="validationCustom02" class="mb-0">Giá sản phẩm</label>
                                        </div>
                                        <div class="col-xl-8 col-sm-7">
                                            <input class="form-control" id="validationCustom02" type="number"
                                                [formControl]="productForm.controls['price']" required="">
                                            <!-- <div *ngIf="productForm.controls.price.touched && productForm.controls.price.errors?.required"
                                                class="text text-danger">
                                                Giá sản phẩm không được bỏ trống.
                                            </div> -->
                                            <div *ngIf="productPrice?.invalid && (productPrice?.dirty || productPrice?.touched)"
                                                class="alert alert-danger mt-1">
                                                <div *ngIf="productPrice?.errors?.['required']">Giá sản phẩm không được
                                                    bỏ trống.</div>
                                                <div *ngIf="productPrice?.errors?.['pattern']">Giá sản phẩm phải là ký
                                                    tự số.</div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Product Categories -->
                                    <div class="form-group row">
                                        <div class="col-xl-3 col-sm-4">
                                            <label for="validationCustom03" class="mb-0">Loại sản phẩm</label>
                                        </div>

                                        <div class="col-xl-8 col-sm-7" formArrayName="categories">
                                            <div *ngFor="let item of categories.controls; let i = index">
                                                <div formGroupName="{{i}}">
                                                    <div class="d-flex mb-2 mt-2">
                                                        <input class="form-control" id="validationCustom03"
                                                            formControlName="categoryName">
                                                        <button type="button" class="btn btn-light ml-2"
                                                            (click)="deleteCategory(i)">
                                                            Xoá
                                                        </button>
                                                    </div>
                                                    <div *ngIf="categories.controls[i].get('categoryName').invalid &&
                                                        (categories.controls[i].get('categoryName').dirty || categories.controls[i].get('categoryName').touched)"
                                                        class="alert alert-danger mt-1">
                                                        <div
                                                            *ngIf="categories.controls[i].get('categoryName')?.errors?.['required']">
                                                            Không được để trống loại sản phẩm
                                                        </div>
                                                    </div>


                                                </div>
                                            </div>

                                            <button type="button" class="btn btn-primary me-1"
                                                (click)="addNewCategory()">
                                                Thêm loại
                                            </button>
                                        </div>
                                        <!-- <div class="col-xl-8 col-sm-7">
                                            <input class="form-control" id="validationCustom03"
                                                [formControl]="productForm.controls['category']" required="">
                                            <div *ngIf="productForm.controls.category.touched && productForm.controls.category.errors?.required"
                                                class="text text-danger">
                                                Loại sản phẩm không được bỏ trống.
                                            </div>
                                        </div> -->
                                    </div>


                                    <!-- Product Images -->
                                    <div class="form-group row">
                                        <div class="col-xl-3 col-sm-4">
                                            <label for="validationCustom03" class="mb-0">Hình ảnh sản phẩm</label>
                                        </div>

                                        <div class="col-xl-8 col-sm-7" formArrayName="images">
                                            <div *ngFor="let item of images.controls; let i = index">
                                                <div formGroupName="{{i}}">
                                                    <div class="d-flex mb-2 mt-2">
                                                        <input class="form-control" id="image"
                                                            formControlName="image_File" type="file" autocomplete="off"
                                                            (change)="onFileSelected($event, i)" />
                                                        <button type="button" class="btn btn-light ml-2"
                                                            (click)="deleteImage(i)">
                                                            Xoá
                                                        </button>
                                                    </div>
                                                    <!-- <div
                                                        *ngIf="images.controls[i].get('images').invalid &&
                                                        (images.controls[i].get('images').dirty || images.controls[i].get('images').touched)" class="alert alert-danger mt-1">
                                                        <div *ngIf="images.controls[i].get('images')?.errors?.['required']">
                                                            Ảnh không được bỏ trống
                                                        </div>
                                                    </div> -->


                                                </div>
                                            </div>

                                            <button type="button" class="btn btn-primary me-1" (click)="addNewImage()">
                                                Thêm ảnh
                                            </button>
                                        </div>
                                    </div>
                                    <!--                  <div class="form-group row">-->
                                    <!--                    <div class="col-xl-3 col-sm-4">-->
                                    <!--                      <label for="exampleFormControlSelect1" class="mb-0">Select-->
                                    <!--                        Size-->
                                    <!--                        :</label>-->
                                    <!--                    </div>-->
                                    <!--                    <div class="col-xl-8 col-sm-7">-->
                                    <!--                      <select class="form-control digits" id="exampleFormControlSelect1">-->
                                    <!--                        <option>Small</option>-->
                                    <!--                        <option>Medium</option>-->
                                    <!--                        <option>Large</option>-->
                                    <!--                        <option>Extra Large</option>-->
                                    <!--                      </select>-->
                                    <!--                    </div>-->
                                    <!--                  </div>-->

                                    <!-- Product Description -->
                                    <div class="form-group row">
                                        <div class="col-xl-3 col-sm-4">
                                            <label for="validationCustom02" class="mb-0">Mô tả sản phẩm</label>
                                        </div>
                                        <div class="col-xl-8 col-sm-7">
                                            <textarea class="form-control" id="validationCustom02" type="number"
                                                [formControl]="productForm.controls['descriptions']"
                                                required=""></textarea>
                                            <!-- <div *ngIf="productForm.controls.descriptions.touched && productForm.controls.descriptions.errors?.required"
                                                class="text text-danger">
                                                Mô tả không được bỏ trống.
                                            </div> -->
                                            <div *ngIf="descriptions?.invalid && (descriptions?.dirty || descriptions?.touched)"
                                                class="alert alert-danger mt-1">
                                                <div *ngIf="descriptions?.errors?.['required']">Mô tả sản phẩm không
                                                    được bỏ trống.</div>
                                                <div *ngIf="descriptions?.errors?.['minlength']">Mô tả sản phẩm phải có
                                                    ít nhất 8 kí tự.</div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Product Shop Id -->
                                    <div *ngIf="!isShop" class="form-group row">
                                        <div class="col-xl-3 col-sm-4">
                                            <label for="validationCustom03" class="mb-0">Id shop</label>
                                        </div>
                                        <div class="col-xl-8 col-sm-7">
                                            <input class="form-control" id="validationCustom03"
                                                [formControl]="productForm.controls['shopId']" type="number">
                                            <!-- <div *ngIf="productForm.controls.shopId.touched && productForm.controls.shopId.errors?.required"
                                                class="text text-danger">
                                                Id shop không được bỏ trống.
                                            </div> -->
                                            <div *ngIf="productShopId?.invalid && (productShopId?.dirty || productShopId?.touched)"
                                                class="alert alert-danger mt-1">
                                                <div *ngIf="productShopId?.errors?.['required']">Id shop không được bỏ
                                                    trống.</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <div class="form-group row mb-0">
                                <div class="col-sm-8 offset-xl-3 offset-sm-4">
                                    <div class="product-buttons">
                                        <button type="button" class="btn btn-primary me-1"
                                            (click)="openModal(add_product)">
                                            Thêm sản phẩm
                                        </button>
                                        <!-- <button type="button" class="btn btn-light" (click)="openModal(add_product)">
                                            Discard
                                        </button> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Container-fluid Ends-->
<ng-template #add_product>
    <div class="modal-body text-center">
        <h5 class="text-dark font-weight-bold mb-4">Bạn chắc chắc muốn thêm sản phẩm này chứ ?</h5>
        <div class="modal-btn-option">
            <button type="button" class="btn btn-default width-btn" (click)="confirm()">Có
            </button>
            <button type="button" class="btn btn-primary width-btn" (click)="decline()">Không
            </button>
        </div>
    </div>
</ng-template>
<ng-template #completedModal>
    <div class="modal-body text-center">
        <h5 class="text-dark font-weight-bold mb-4">Thêm sản phẩm thành công</h5>
        <button type="button" class="btn btn-primary" (click)="completed()">Tiếp
            tục
        </button>
    </div>
</ng-template>

<ng-template #errorModal>
    <div class="modal-body text-center">
        <h5 class="text-dark font-weight-bold mb-4">Vui lòng thêm ít nhất một {{ item }} vào trong sản phẩm của bạn.
        </h5>
        <button type="button" class="btn btn-primary" (click)="closeModal()">Tiếp
            tục
        </button>
    </div>
</ng-template>

<ng-template #errorShopModal>
    <div class="modal-body text-center">
        <h5 class="text-dark font-weight-bold mb-4">Shop bạn thêm vào không tồn tại. Vui lòng chọn một shop khác.</h5>
        <button type="button" class="btn btn-primary" (click)="closeModal()">Tiếp
            tục
        </button>
    </div>
</ng-template>