<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 footer-copyright">
            <p class="mb-0">Copyright 2023 © Pyramide - All rights reserved.</p>
        </div>
        <div class="col-md-6">
            <p class="pull-right mb-0">Hand crafted & made with<i class="fa fa-heart"></i></p>
        </div>
    </div>
</div>

<ng-template #new_order>
    <div class="modal-body text-center ">
        <h5 class="text-dark font-weight-bold mb-4">Bạn có đơn hàng mới</h5>
        <button type="button" class="btn btn-primary" (click)="confirmNewOrder()">Đi đến đơn hàng</button>
    </div>
</ng-template>