<!-- Container-fluid starts-->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h5>Products Category</h5>
                </div>
                <div class="card-body">
                    <!--                    <div class="btn-popup pull-right">-->
                    <!--                        <button-->
                    <!--                                type="button" class="btn btn-primary" data-toggle="modal" data-original-title="test"-->
                    <!--                                data-target="#exampleModal" (click)="open(content)">Add Category-->
                    <!--                        </button>-->

                    <!--                    </div>-->
                    <div id="batchDelete" class="category-table custom-datatable">
                        <div class="table-responsive">
                            <!-- <form>
                                <div class="mb-3 row">
                                    <label for="table-complete-search" class="col-xs-3 col-sm-auto col-form-label">Full text search:</label>
                                    <div class="col-xs-3 col-sm-auto">
                                      <input id="table-complete-search" type="text" class="form-control" name="searchTerm"  [(ngModel)]="searchText" autocomplete="off">
                                    </div>
                                </div>
                              </form> -->
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col" sortable="img" (sort)="onSort($event)">Image</th>
                                    <th scope="col" sortable="product_name" (sort)="onSort($event)">Name</th>
                                    <th scope="col" sortable="price" (sort)="onSort($event)">Price</th>
                                    <!-- <th scope="col" sortable="status" (sort)="onSort($event)">Status</th>-->
                                    <th scope="col" sortable="category" (sort)="onSort($event)">Category</th>
                                    <th scope="col" sortable="population" (sort)="onSort($event)">Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr
                                        *ngFor='let catgory of tableItem$ | async | filter:searchText, let idx = index'>
                                    <th scope="row">{{ catgory.id }}</th>
                                    <td>
                                        <img [src]="catgory.img" class="imgTable" style="width: 20px">
                                    </td>
                                    <td>{{ catgory.product_name }}</td>
                                    <td>{{ catgory.price }}</td>
                                    <!--<td><i class='fa fa-circle {{catgory.status}} f-12'></i></td>-->
                                    <td>{{ catgory.category}}</td>
                                    <td>
                                        <a
                                                (click)="editProductCategory(catgory, productCategoryTemplate)"
                                                style="cursor: pointer;"
                                        ><i class='fa fa-edit f-12'></i></a>&nbsp;
                                        <a
                                                (click)="openModal(template)"
                                                style="cursor: pointer;"
                                        ><i class="fa fa-trash-o"></i></a>
                                        <ng-template #template>
                                            <div class="modal-body text-center">
                                                <p>Do you want to delete this product?</p>
                                                <button type="button" class="btn btn-default" (click)="confirm(idx)">
                                                    Yes
                                                </button>
                                                <button type="button" class="btn btn-primary" (click)="decline()">No
                                                </button>
                                            </div>
                                        </ng-template>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="d-flex justify-content-center p-2">
                                <ngb-pagination
                                        [collectionSize]="(total$ | async)!" [(page)]="service.page"
                                        [pageSize]="service.pageSize">
                                </ngb-pagination>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Container-fluid Ends-->

<ng-template #productCategoryTemplate [formGroup]="categoryForm">
    <div class="modal-header">
        <h5 class="modal-title f-w-600" id="exampleModalLabel">Edit Product Category</h5>
        <button type="button" class="close" aria-label="Close">
            <span aria-hidden="true" (click)="onClose()">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div>
            <div class="form-group">
                <label for="validationCustom01" class="mb-1">Category Name :</label>
                <input class="form-control"
                       id="validationCustom01"
                       type="text"
                       formControlName="categoryName">
            </div>
            <div class="form-group mb-0">
                <label for="image" class="mb-1">Category Image :</label>
                <input
                        class="form-control"
                        id="image"
                        formControlName="categoryImage"
                        (change)="onFileSelected($event)"
                        type="file"
                        autocomplete="off"
                >
            </div>
        </div>
        <div class="modal-footer">
            <button
                    type="button"
                    class="btn btn-primary"
                    (click)="onSaveCategory($event)">Save
            </button>
            <button
                    class="btn btn-secondary"
                    type="button"
                    data-dismiss="modal"
                    (click)="onClose()">Close
            </button>
        </div>
    </div>
</ng-template>
