<div class="d-flex justify-content-start align-items-center px-4 py-2">
  <div class="btn-popup pull-left m-0">
    <input [(ngModel)]="searchName" class="form-control search-input" type="text" placeholder="Tìm kiếm"
      (change)="searchProduct()" />
  </div>
</div>

<div class="container-fluid" *ngIf="products.length > 0">
  <div class="btn-popup pull-left w-100">
    <div class="row products-admin ratio_asos">
      <div class="col-xl-3 col-sm-6" *ngFor="let product of products">
        <div class="card card-position">
          <div *ngIf="product.discountPercent > 0" class="discount-product">
            <div class="discount-box">
              <img src="../../../../../assets/images/dashboard/Sale-01.png" *ngIf="product.discountPercent > 0"
                class="discount-cover">
              <div [ngClass]="{'discount-text': true, 'discount-text-desc': product.discountPercent < 10}"
                class="discount-text mb-0">{{ product.discountPercent }}%</div>
            </div>
          </div>
          <div class="card-body product-box">
            <div class="img-wrapper">
              <div class="lable-block">
                <!-- <img src="../../../../../assets/images/dashboard/Sale.png" *ngIf="product.discountPercent > 0"> -->
                <!-- <span class="lable3" *ngIf="product.discountPercent > 0">{{ product.discountPercent }}%</span> -->
                <span class="lable4" *ngIf="!product.isEnabled">Không mở bán</span>
              </div>

              <div class="front">
                <a href="javascript:void(0)">
                  <img [src]="[product.images[0].imageUrl]"
                    class="img-fluid blur-up lazyload bg-img border border-secondary rounded" alt="" /></a>
                <div class="product-hover">
                  <ul>
                    <li>
                      <button class="btn" type="button" data-original-title="" title="">
                        <i class="fa fa-eye" [routerLink]="['/products', 'product-detail', product.id]"></i>
                      </button>
                    </li>
                    <li>
                      <button class="btn" type="button" data-original-title="" title="">
                        <i class="icon-pencil-alt" [routerLink]="['/products', 'edit-product', product.id]"></i>
                      </button>
                    </li>
                    <li>
                      <button class="btn" type="button" data-toggle="modal"
                        (click)="openModal(confirm_Delete, product.id)" data-target="#exampleModalCenter"
                        data-original-title="" title="">
                        <i class="icon-trash"></i>
                      </button>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="product-detail mt-3">
              <a [routerLink]="['/products', 'product-detail', product.id]">
                <h4 class="mb-2">{{ product.name }}</h4>
              </a>
              <h5 class="font-weight-bold" style="color: lightcoral">
                <del *ngIf="product.discountPercent > 0">{{ product.cost | currency : "VND" }}</del>
                {{ product.cost - (product.cost * product.discountPercent) / 100 | currency : "VND"}}
              </h5>
              <div *ngIf="product.averageRating > 0" class="rating font-weight-bold">Đánh giá: <span
                  class="font-weight-bold" style="color: lightcoral">{{ product.averageRating }}</span></div>
              <div *ngIf="product.averageRating == 0" class="rating font-weight-bold">
                Chưa có đánh giá
              </div>


            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="d-flex justify-content-center p-2">
      <ngb-pagination [collectionSize]="theTotalElements" [(page)]="thePageNumber" [maxSize]="5"
        [pageSize]="thePageSize" [rotate]="true" [boundaryLinks]="true" (pageChange)="listProduct()">
      </ngb-pagination>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <select class="form-select" style="width: auto" name="pageSize" (change)="listProduct()"
        [(ngModel)]="thePageSize">
        <option [value]="12" [selected]="true" [ngValue]="12">12 sản phẩm / trang</option>
        <option [ngValue]="20">20 sản phẩm / trang</option>
        <option [ngValue]="28">28 sản phẩm / trang</option>
      </select>
    </div>
  </div>
</div>

<div class="container-fluid" *ngIf="products.length == 0">
  <div class="d-flex justify-content-center p-2">
    <img src="../../../../../assets/images/error/no-product.png" alt="" srcset="">
  </div>
  <div class="d-flex justify-content-center p-2">
    <h4 style="color: lightcoral">Không tìm thấy sản phẩm</h4>
  </div>
</div>

<!-- Confirm Delete -->
<ng-template #confirm_Delete>
  <div class="modal-body text-center">
    <h5 class="text-dark font-weight-bold mb-4">Bạn chắc chắc xoá sản phẩm này chứ ?</h5>
    <div class="modal-btn-option">
      <button type="button" class="btn btn-default width-btn" (click)="confirm(deleteProductId, success)">Có</button>
      <button type="button" class="btn btn-primary width-btn" (click)="decline()">Không</button>
    </div>
  </div>
</ng-template>

<!--Delete success -->
<ng-template #success>
  <div class="modal-body text-center">
    <p>Xoá sản phẩm thành công</p>
    <button type="button" class="btn btn-primary" (click)="successDelete()">Tiếp tục</button>
  </div>
</ng-template>