.star-wrapper {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    direction: rtl;
}

.search-input {
    width: 300px;
    padding: 20px 12px;
}

.star-wrapper a {
    font-size: 4em;
    color: #fff;
    text-decoration: none;
    transition: all 0.5s;
    margin: 4px;
}

.star-wrapper a:hover {
    color: gold;
    transform: scale(1.3);
}

.s1:hover~a {
    color: gold;
}

.s2:hover~a {
    color: gold;
}

.s3:hover~a {
    color: gold;
}

.s4:hover~a {
    color: gold;
}

.s5:hover~a {
    color: gold;
}

.wraper {
    position: absolute;
    bottom: 30px;
    right: 50px;
}

.modal-btn-option {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 20px;

    .width-btn {
        width: 110px;
    }
}

.card-position {
    position: relative;
    top: 16px;
    left: 16px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;

    .discount-product {
        position: absolute;
        z-index: 5;
        top: 16px;
        left: 12px;

        .discount-box {
            position: relative;
            width: 60px;
            height: 60px;
            display: flex;
            justify-content: center;
            align-items: center;

            .discount-cover {
                width: 60px;
                height: 60px;
            }
    
            .discount-text {
                position: absolute;
                top: 18px;
                right: 9px;
                color: #fff;
                font-weight: bold;
                font-size: 18px;
            }

            .discount-text-desc {
                right: 13px;
            }
        }
    }
}

