.star {
    font-size: 18px;
    color: #d7d7d7;
  }
  .filled.bad {
    color: #ffc13b;
  }

  th, td {
    text-align: center;
}


.product-name {
  font-size: 40px;
  margin-bottom: 10px;
}  

.text-size {
  font-size: 16px;
}

.font-category {
  font-size: 16px;
}